{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock %}

{% block meta_description %}This is the website of Dr. Omar the greatest dentist who ever dentised!{% endblock %}"

{% block content %}
<!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->


  <!-- ***** Contact Area Start ***** -->
  {% if message_name %}
  <!-- Default message after send mail Area Start -->
    <center>
        <h2>Thanks {{ message_name }}!</h2>
        <p>We received your email and will respond shortly...</p>
    </center>
      <br><br><br>
  <!-- Default message after send mail Area End -->
  {% else %}
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.150609576376!2d90.36436271411159!3d23.742008084593518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bfd2c7d55991%3A0xbb4bf4287cf0c784!2sDentist%20Zone!5e0!3m2!1sen!2sbd!4v1580016063679!5m2!1sen!2sbd"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>49 Sher-E-Bangla Rd, Dhaka 1205</p>

            <h5>Phone</h5>
            <p>+8801710-614203</p>


            <h5>Email</h5>
            <p class="mb-0">allyit@gmail.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Get In Touch</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="post">  <!-- urls.py have a name contact -->
                {% csrf_token %}  <!-- cross site request forgery token for hackers -->
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Send Message</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- ***** Contact Area End ***** -->
{% endblock %}
